
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<div class="text-center">
    <h3 class="text-success">Merahaba @Context.User.Identity.Name</h3>
    <h4 class="text-success">Personel paneline hoş geldin.</h4>
    <img src="https://media.giphy.com/media/bcKmIWkUMCjVm/giphy.gif" />
</div>
